<section class="recipe-detail">
  <section class="recipe-view">
    <h3 class="title"><a href="#/public">{{vm.detail.title}}</a></h3>
    <div class="col-1-3">
      <span ng-hide="username" ng-repeat="rating in vm.ratings">
        <div view-rating rating-value="rating.current" max="maxStars" ng-click="" class="public"></div>
      </span>
      <section ng-show="username">
        <span ng-hide="vm.ratingId" ng-repeat="rating in vm.ratings">
          <div star-rating rating-value="rating.current" max="maxStars" ng-click="vm.rateRecipe(rating.current)" class="public"></div>
        </span>
        <span ng-show="vm.ratingId" ng-repeat="userRating in vm.userRatings">
          <div star-rating rating-value="userRating.current" max="maxStars" ng-click="vm.rateRecipe(userRating.current)"></div>
        </span>
      </section>
    </div>
    <a ng-show="vm.detail.shared_by" ng-href="#public/users/{{vm.detail.shared_by}}">Shared by {{vm.detail.shared_by}}</a>
    <div class="brew-it-button">
      <a ng-show="vm.detail.steps.length" class="brew-it-button" ng-href="#/public/{{vm.detail.id}}/brewit">BREW IT!</a>
      <a ng-hide="vm.detail.steps.length" class="no-steps" href="">Add Steps</a>
    </div>
    <div class="details">
      <div class="detail-icon">
        <img src="img/LightCoffeeBean_darker.svg">
      </div>
      <section class="details bean-details">
        <span>{{vm.detail.bean_name}}</span>
        <span>
          {{vm.detail.roast !== null ? vm.detail.roast + ', ' : ''}}
          {{vm.detail.total_bean_amount !== null ? vm.detail.total_bean_amount : ''}}{{vm.detail.bean_units !== null ? vm.detail.bean_units + ', ' : ''}}
          {{vm.detail.grind}}
        </span>
      </section> <!--end section.bean-details -->
      <div class="detail-icon">
        <img src="img/LightWater_darker.svg">
      </div>
      <section class="details water-details">
        {{vm.detail.water_type}} {{vm.detail.total_water_amount}} {{vm.detail.water_units}} <span ng-show="vm.detail.temp">@ {{vm.detail.temp}} &deg;F</span>
      </section> <!-- end section.water-details-->
      <div class="detail-icon">
        <img src="img/LightTimer_darker.svg">
      </div>
      <section class="details brew-time">
        <span >{{vm.detail.total_duration}} sec, {{vm.detail.orientation}}
      </section> <!-- end section.brew-time -->
    </div><!--end div.details -->
  <!-- steps section -->
  <section class="step-list" ng-repeat="step in vm.steps">
    <div class="num-col">
      {{$index + 1}}
    </div> <!-- end number column -->
    <div class="step-details">
      <p class="bold-text">{{step.step_title}}</p>
      <p class="step-details">{{step.step_body}}</p>
      <div class="duration">
        <span ng-show="step.water_amount"><span class="bold-text">{{step.water_amount}}</span> {{vm.detail.water_units}}, </span>
        <span class="bold-text">{{step.duration}}</span> sec
      </div>
    </div> <!-- end step details -->
  </section><!-- end steps section -->
  <section ng-show="vm.detail.general_recipe_comment" class="gen-recipe-comment public">
    <p>{{vm.detail.general_recipe_comment}}<p>
  </section> <!-- end general recipe comment -->

  <div ng-show="username" class="clone-button public" ng-click="vm.showCloneRecipe()">
    <a>CLONE</a>
  </div>
  <a href="#/login"><div ng-hide="username" class="clone-button">Login to Clone this Recipe</div></a>

  <!-- Brew notes -->
  <section class="brew-notes">
    <div class="brew-notes-heading">
      <h3>Comments</h3>
      <img ng-show="username" class="plus-icon" ng-click="vm.showAddBrewNote()" src="img/PlusSign-40.svg"/>
    </div>
    <section class="brew-form hidden"  ng-submit="vm.addBrewNote()">
      <form class="add-note">
        <textarea required type="text" ng-model="vm.comment.public_comment"></textarea>
        <button class="save-note clicker-button">Add</button>
      </form>
    </section>
    <!-- add brewnote section -->
    <div class="notes" ng-repeat="comment in vm.comments | orderBy: 'comment.comment_timestamp'">
      <div class="note-view{{comment.id}}" ng-click="showNoteIcons(note.id)">
        <div class="note-body">{{comment.public_comment}}</div>
        <div class="note-date">— {{comment.comment_timestamp | date}} by {{comment.username}}</div>
        <div class="note-icons {{note.id}}" ng-show="username == comment.username">
          <img class="trash-icon" ng-Click="vm.deleteComment(comment.id)" src="img/Delete-40.svg"/>
          <!--Created by Pham Thi Dieu Linh from the Noun Project-->
          <img class="edit-icon" ng-Click="vm.showEditNote(comment.id)" src="img/Edit-40.svg"/>
          <!--Created by Daniel Boros from the Noun Project-->
        </div>
      </div>
      <article class="edit-note{{comment.id}} hidden">
        <form class="edit-note" ng-submit="vm.editComment(comment)">
          <!--edit brew-note form-->
            <textarea required type="text" ng-model="comment.public_comment">{{comment.public_comment}}</textarea>
            <button class="save-edit clicker-button">Save</button>
        </form>
      </article>
    </div>
  </section>  <!-- end section.brew-notes -->
</section><!--.recipe-view-->
