<section class="recipe-detail">
  <section class="recipe-view">
    <h1 class="title">
      <a href="#/public">{{vm.detail.title}}</a>
    </h1>
    <div class="star-rating">
      <span ng-hide="username" ng-repeat="rating in vm.ratings">
        <div class="public"
             max="maxStars"
             rating-value="vm.detail.average_rating"
             view-rating>
        </div>
      </span>
      <section ng-show="username">
        <span ng-hide="vm.ratingId" ng-repeat="rating in vm.ratings">
          <div class="public"
               max="maxStars"
               ng-click="vm.rateRecipe(vm.detail.combined_rating)"
               rating-value="vm.detail.combined_rating"
               star-rating>
          </div>
        </span>
        <span ng-show="vm.ratingId" ng-repeat="userRating in vm.userRatings">
          <div max="maxStars"
               ng-click="vm.rateRecipe(vm.detail.combined_rating)"
               rating-value="vm.detail.combined_rating"
               star-rating>
          </div>
        </span>
      </section>
    </div>
    <div class="shared-by-container">
      Shared by <a ng-href="#public/users/{{vm.detail.shared_by}}"
         ng-show="vm.detail.shared_by">
        <span class="shared-by">{{vm.detail.shared_by}}</span>
      </a>
    </div>
    <div class="main-action-button">
      <a class="brew-it-button"
         ng-href="#/public/{{vm.detail.id}}/brewit"
         ng-show="vm.detail.steps.length">
        BREW IT!
      </a>
      <a class="no-steps" href="" ng-hide="vm.detail.steps.length">
        Add Steps
      </a>
    </div>
    <div class="details">
      <div class="detail-icon">
        <img src="img/LightCoffeeBean_darker.svg">
      </div>
      <section class="bean-details details">
        <span>{{vm.detail.bean_name}}</span>
        <span>
          {{vm.detail.roast !== null ? vm.detail.roast + ', ' : ''}}
          {{vm.detail.total_bean_amount !== null ? vm.detail.total_bean_amount + '&thinsp;' : ''}}{{vm.detail.bean_units !== null ? vm.detail.bean_units + ', ' : ''}}
          {{vm.detail.grind}}
        </span>
      </section> <!--end section.bean-details -->
      <div class="detail-icon">
        <img src="img/LightWater_darker.svg">
      </div>
      <section class="details water-details">
        {{vm.detail.water_type}} {{vm.detail.total_water_amount}} {{vm.detail.water_units}}
        <span ng-show="vm.detail.temp">@ {{vm.detail.temp}} &deg;F</span>
      </section> <!-- end section.water-details-->
      <div class="detail-icon">
        <img src="img/LightTimer_darker.svg">
      </div>
      <section class="brew-time details">
        <span >{{vm.detail.total_duration}} sec, {{vm.detail.orientation}}
      </section> <!-- end section.brew-time -->
    </div><!--end div.details -->
  <!-- steps section -->
  <section class="step-list" ng-repeat="step in vm.detail.steps">
    <div class="num-col">
      {{$index + 1}}
    </div> <!-- end number column -->
    <div class="step-details">
      <p class="bold-text">{{step.step_title}}</p>
      <p class="step-details">{{step.step_body}}</p>
      <div class="duration">
        <span ng-show="step.water_amount">
          <img class="water-icon" src="img/LightWater_darker.svg"/>
          <span class="bold-text">{{step.water_amount}}</span>
          {{vm.detail.water_units}}
        </span>
        <img class="timer-icon" src="img/LightTimer_darker.svg">
        <span class="bold-text">{{step.duration}}</span> sec
      </div>
    </div> <!-- end step details -->
  </section><!-- end steps section -->
  <section class="gen-recipe-comment public"
           ng-show="vm.detail.general_recipe_comment">
    <p>
      {{vm.detail.general_recipe_comment}}
    </p>
  </section> <!-- end general recipe comment -->

  <div class="clone-button public"
       ng-click="vm.showCloneRecipe()"
       ng-show="username">
    <a>CLONE</a>
  </div>
  <a href="#/login">
    <div class="clone-button" ng-hide="username">
      Login to Clone this Recipe
    </div>
  </a>

  <!-- Brew notes -->
  <section class="brew-notes">
    <div class="brew-notes-heading">
      <h3>Comments</h3>
      <img class="plus-icon"
           ng-click="vm.showAddBrewNote()"
           ng-show="username"
           src="img/PlusSign-40.svg"/>
    </div>
    <section class="brew-form hidden" ng-submit="vm.addBrewNote()">
      <form class="add-note">
        <textarea ng-model="vm.comment.public_comment"
                  required
                  type="text">
        </textarea>
        <button class="clicker-button save-note">
          Add
        </button>
      </form>
    </section>
    <!-- add brewnote section -->
    <div class="notes"
         ng-repeat="comment in vm.detail.public_comments | orderBy: 'comment.comment_timestamp'">
      <div class="note-view{{comment.id}}" ng-click="showNoteIcons(note.id)">
        <div class="note-body">
          {{comment.public_comment}}
        </div>
        <div class="note-date">
          — {{comment.comment_timestamp | date}} by {{comment.username}}
        </div>
        <div class="note-icons {{note.id}}"
             ng-show="username == comment.username">
          <img class="trash-icon"
               ng-Click="vm.deleteComment(comment.id)"
               src="img/Delete-40.svg"/>
               <!--Created by Pham Thi Dieu Linh from the Noun Project-->
          <img class="edit-icon"
               ng-Click="vm.showEditNote(comment.id)"
               src="img/Edit-40.svg"/>
               <!--Created by Daniel Boros from the Noun Project-->
        </div>
      </div>
      <article class="edit-note{{comment.id}} hidden">
        <form class="edit-note" ng-submit="vm.editComment(comment)">
          <!--edit brew-note form-->
            <textarea ng-model="comment.public_comment"
                      required
                      type="text">
              {{comment.public_comment}}
            </textarea>
            <button class="clicker-button save-edit">
              Save
            </button>
        </form>
      </article>
    </div>
  </section>  <!-- end section.brew-notes -->
</section><!--.recipe-view-->