<section id="steps-required-modal" class="modal inactive">
  <div>Please add steps to this recipe before making it public.
    <button id="steps-required-btn" class="clicker-button steps-fail">OK</button>
  </div>
</section>

<section id="make-public-modal" class="modal inactive">
  <div>Are you sure you want to make this recipe public?
    <button class="clicker-button confirm-fail" ng-click="makePublic()">OK</button>
    <button id="make-public-cancel-btn" class="clicker-button cancel-fail">Cancel</button>
  </div>
</section>

<section id="confirm-clone-modal" class="modal inactive">
  <div>Are you sure you want to clone this recipe?
    <button class="clicker-button confirm-clone-fail" ng-click="cloneRecipe()">OK</button>
    <button id="cancel-clone-btn" class="clicker-button cancel-clone-fail">Cancel</button>
  </div>
</section>

<section id="public-clone-modal" class="modal inactive">
  <div>Are you sure you want to clone this recipe?
    <button class="clicker-button confirm-clone-fail" ng-click="clonePublicRecipe()">OK</button>
    <button id="public-clone-cancel-btn" class="clicker-button cancel-clone-fail">Cancel</button>
  </div>
</section>

<section id="confirm-delete-step-modal" class="modal inactive">
  <div>Are you sure you want to delete this step?
    <button class="clicker-button confirm-delete-step-fail" ng-click="deleteStep()">OK</button>
    <button id="cancel-delete-step-btn" class="clicker-button cancel-delete-step-fail">Cancel</button>
  </div>
</section>

<section id="delete-recipe-modal" class="modal inactive">
  <div>Are you sure you want to delete this recipe?
    <button id="delete-recipe-confirm-btn" class="clicker-button confirm-eliminate-fail">OK</button>
    <button id="delete-recipe-cancel-btn" class="clicker-button cancel-delete-fail">Cancel</button>
  </div>
</section>

<section id="make-public-success-modal" class="modal inactive">
  <div>Thanks for sharing!
    <button id="make-public-success-btn" class="clicker-button sharing-not-fail">OK</button>
  </div>
</section>
