<header class="topnav" ng-controller="TopNavController as vm">
  <a href="#/public">
    <img class="topnav__logo" src="img/Brew_Keeper_Logo_v3.png"/>
  </a>
  <nav class="topnav__hamburger">
    <ul class="topnav__menu">
      <li class="topnav__entry" ng-show="username">
        <a class="topnav__link"
           href="#/users/{{username}}/recipes">
          My Recipes
        </a>
      </li>
      <li class="topnav__entry" ng-show="username">
        <a class="topnav__link"
           href="#/users/{{username}}/recipes/create">
          Create Recipe
        </a>
      </li>
      <li class="topnav__entry">
        <a class="topnav__link about"
           href="#/about">
          About
        </a>
      </li>
      <li class="topnav__entry login-link" ng-hide="username">
        <a class="topnav__link"
           href="#/login">
          Login
        </a>
      </li>
      <li class="topnav__entry" ng-show="username">
        <a class="topnav__link"
           href="#/login"
           ng-click="vm.logout()">
          Logout
        </a>
      </li>
      <li class="topnav__entry" ng-show="username">
        <a class="topnav__link"
           href="#/change-password">
          Change Password
        </a>
      </li>
    </ul>
  </nav>
</header>