<h3>Brew It! partial page</h3>

<h2>Recipe: {{detail.title}}</h2>
<button ng-click="startBrew()">Start Brewing</button>
<button ng-click="resetBrew()">Reset</button>
<br>
<br>
<strong>Total Duration:</strong> {{detail.total_duration}} seconds
<br>
<timer class="timer" autostart="false" interval="1000" countdown="countdownVal">seconds remaining:<strong> {{countdown}}</strong></timer>
<div ng-repeat="step in steps | orderBy: 'step_number'" class="{{step.step_number}}">
  <strong>{{step.step_title}}:</strong>
  <br>
  {{step.duration}} seconds
  <br>
  <timer class="{{step.step_number}}" autostart="false" interval="1000" countdown="step.duration" finish-callback="finishBrew(step.step_number)">seconds remaining:<strong> {{countdown}}</strong></timer>
  <br>
  Step Number: {{step.step_number}}
  <br>
  {{step.step_body}}
  <br>
  Water: {{step.water_amount}} {{detail.water_units}}
  <br>
  <br>
</div>
<button>Add Brew Note</button>
<br>
