<section class="brewit-page">
  <nav class="brewit-nav">
    <a class="brewit-title" href="#{{vm.username}}/{{vm.detail.id}}"><h2 class="brewit-title">{{vm.detail.title}}</h2></a>
    <a href="" class="reset-brew clicker-button" ng-click="vm.resetBrew()">RESET</a>
    <a href="" class="hidden add-brew-note clicker-button">Add Note</a>
    <div class="stars">    <!--star ratings-->
    <span ng-show="vm.showStars" class="post-brew rating" ng-repeat="rating in vm.ratings">
      <span star-rating rating-value="vm.detail.rating" max="5" ng-click="vm.rateRecipe(vm.detail.rating, vm.detail.id)"></span>
    </span>
    </div>  <!--end star ratings-->
  </nav>
  <section class="brew-form hidden" >
    <form ng-submit="vm.addBrewNote()">
      <textarea class="input-focus" required type="text" ng-model="vm.brewnote.body" placeholder="Brew Note"></textarea>
      <button class="save-note clicker-button" type="submit">Save</button>
    </form>
  </section><!--END brew-form-->
  <div class="step delay restart hidden" ng-click="vm.restartBrew()">
    <p class="">Restart Brew</p>
    <img src="img/CoffeeCup.svg"/>
  </div>
  <div class="time-{{vm.detail.total_duration}}">
  </div>
  <div class="step delay countdown inactive-step">
    <p class="countdown">COUNTDOWN</p>
    <p class="counting"><timer class="countdown counting" interval="1000" countdown="3" finish-callback="vm.startBrew()">{{seconds}}</timer></p>
  </div><!-- END countdown timer-->
  <div ng-repeat="step in vm.steps | orderBy: 'step_number'" class="step inactive-step {{step.step_number}}">
    <p class="stepOf"><span>{{vm.stepArray.indexOf(step.step_number)+1}}</span> of {{vm.stepTotal}}</p>
    <article class="step-box">
      <p class="step-name">{{step.step_title | uppercase}}</p>
      <p class="water {{step.step_number}}" ng-show="step.water_amount">{{step.water_amount}} {{vm.detail.water_units}}</p>
      <timer class="counting {{step.step_number}} hidden" autostart="false" interval="1000" countdown="step.duration" finish-callback="vm.nextStep(step.step_number)"><p><span ng-show="minutes">{{minutes}}:{{sseconds}}</span><span ng-hide="minutes">{{seconds}}</span></p></timer>
    </article>
    <p class="step-body">{{step.step_body}}</p>
  </div><!--END Steps-->
</section><!--END brewit-page-->