<form ng-hide="changePassword" class="login" ng-controller="LoginController as loginVm" ng-submit="loginVm.loginButton()">
  <div class="columns general">
    <label class="login" for="login">Login</label>
    <input class="login-user" type="text" name="username" placeholder="username" ng-model="loginVm.users.username" required>
    <input class="login-password" type="password" name="password" placeholder="password" ng-model="loginVm.users.password" required>
    <button href="" class="login clicker-button" name="login">Login</button>
    <a href="" class="show-signup show-register clicker-button">Register</a>
    <a href="" class="show-signup reset clicker-button">Reset Password</a>
  </div>
</form><!--end form login-->
<section class="more-info register hidden columns general">
  <form name="registration" class="register hidden" ng-controller="SignupController as signupVm" ng-submit="signupVm.signupButton(registration.confirmPassword.$error.match)">
    <label>Register</label>
    <div class="columns general">
      <input class="register-user" type="text" name="username" placeholder=" username" ng-model="signupVm.users.username" required>
      <input class="register-email" type="email" name="email" placeholder=" email" ng-model="signupVm.users.email" required>
      <input class="register-password" type="password" name="password" placeholder=" password" ng-model="signupVm.users.password" required minlength="4">
      <input class="register-password" type="password" name="confirmPassword" placeholder=" confirm password" required ng-model="signupVm.users.confirmPassword" data-match="signupVm.users.password">
    <button href="" class="register clicker-button welcome-fail" name="register">Register</button>
    </div>
  </form><!--end form register-->
  <article class="aeropress-info">
    <h3>AeroPress</h3>
    <p>The AeroPress allows a brewer a high degree of control over their cup of coffee. At first, the range of possibilities can be overwhelming—not just the possible combinations but also remembering what produced good results. Starting with a bean you are unfamiliar with can be like starting all over again. If only there was a way to keep track of your coffee experimentation...</p>
  </article>
  <article>
    <h3>Enter Brew Keeper</h3>
    <p>Brew Keeper provides a way to create, brew, refine, share, and store notes on coffee recipes so you can zero in on your best brew for each bean. This site was designed with the AeroPress in mind, but can easily support other brewing equipment.</p>
  </article>
</section>
<section class="more-info reset-password hidden columns general">
  <form name="request-reset" class="register" ng-controller="changePassword as changePwdVm" ng-submit="changePwdVm.requestReset()">
    <label>Reset Password</label>
    <div class="columns general">
     <input class="register-user" type="text" name="username" placeholder=" username" ng-model="changePwdVm.users.username" required>
     <button href="" class="register clicker-button" name="request-reset">Reset</button>
     <span ng-show="changePwdVm.resetError">Invalid username, try again.</span>
     <span ng-show="changePwdVm.resetSuccess">An email has been sent to the address you provided at registration. Follow the instructions to reset your password.</span>
     <span ng-show="changePwdVm.generalError">There was a problem processing your request. Please try again.</span>
    </div>
  </form><!-- end reset password form -->
</section>
<form class="changeForm" name="changeForm" ng-show="changePassword" ng-controller="changePassword as changePwdVm" ng-submit="changePwdVm.submitChangePassword(changeForm.confirmNewPassword.$error.match)">
  <div class="columns general">
    <label class="changeForm" for="changeForm">Change Password</label>
    <input type="password" name="oldPassword" placeholder=" current password" ng-model="changePwdVm.users.old_password" required>
    <input type="password" name="newPassword" placeholder=" new password" ng-model="changePwdVm.users.new_password" required minlength="4">
    <input type="password" name="confirmNewPassword" placeholder=" confirm new password" required ng-model="changePwdVm.users.confirmNewPassword" data-match="changePwdVm.users.new_password">
    <div class="columns general">
      <button class="clicker-button" name="changeForm" type="submit">Submit</button>
    </div>
  </div>
</form> <!--end password change form -->