<h3>Links:</h3>
<a href="http://worldaeropresschampionship.com/">World Aero Press Championship</a>
<br>
<a href="http://www.coffeereview.com/coffee-reference/coffee-basics/">Coffee Review</a>
<br>
<a href="http://www.thekitchn.com/coffee-basics-the-difference-b-41949">The Kitchn</a>
<img class="arrows-icon" src="img/noun_arrows.svg"/><!--Created by Creative Stall from the Noun Project-->
<img class="bean-icon" src="img/noun_bean.svg"/><!--Created by Sergey Patulin from the Noun Project-->
<img class="bubbles-icon" src="img/noun_bubbles.svg"/><!--Created by Megan Mitchell from the Noun Project-->
<img class="cup-icon" src="img/noun_cup.svg"/><!--Created by Brandon Hopkins from the Noun Project-->
<img class="edit-icon" src="img/noun_edit.svg"/><!--Created by Daniel Boros from the Noun Project-->
<img class="fire-icon" src="img/noun_fire.svg"/><!--Fire by Evgeniy Kozachenko from the Noun Project-->
<img class="grinder-icon" src="img/noun_grinder.svg"/><!--Created by IlMostro from the Noun Project-->
<img class="kettle-icon" src="img/noun_kettle.svg"/><!--Created by cody sprague from the Noun Project-->
<img class="plunge-icon" src="img/noun_plunge.svg"/><!--Created by Eric M. Ellis from the Noun Project-->
<img class="scale-icon" src="img/noun_scale.svg"/><!--Created by Alice Mortaro from the Noun Project-->
<img class="stir-icon" src="img/noun_stir.svg"/><!--Created by Paul Slowinsky from the Noun Project-->
<img class="trash-icon" src="img/noun_trash.svg"/><!--Created by Pham Thi Dieu Linh from the Noun Project-->
<img class="watch-icon" src="img/noun_watch.svg"/><!--Watch by Gonzalo Bravo from the Noun Project-->
<img class="water-temp-icon" src="img/noun_water-temp.svg"/><!--Created by Juan Leon from the Noun Project-->
<img class="water-icon" src="img/noun_water.svg"/><!--Created by Arthur Shlain from the Noun Project-->
<img class="stopwatch-icon" src="img/noun_stopwatch.svg"/><!--timer by Alex C. from the Noun Project-->
</div>
