<section class="more-info">

  <article class="keepers">
    <a href="" class="keeper-clicker"><h3>About the Creators</h3></a>
    <p></p>
    <figure >
        <img src="img/Adam Hartz.png"/>
        <figcaption>Adam Hartz</figcaption>
    </figure>
    <figure id="kathleen">
        <img src="img/Kathleen Rauh.png"/>
        <figcaption>Kathleen Rauh</figcaption>
    </figure>
    <figure id="creator-shay">
      <img src="img/Shay Hall.png"/>
      <figcaption>Shay Hall</figcaption>
    </figure>
    <figure id="david">
        <img src="img/David White.png"/>
        <figcaption>David White</figcaption>
    </figure>
  </article>
  <article class="links">
    <h3>Resources</h3>
    <p><a href="http://worldaeropresschampionship.com/">World Aeropress Championship</a></p>
    <p><a href="http://www.coffeereview.com/coffee-reference/coffee-basics/">Coffee Basics</a></p>
    <p><a href="http://www.thekitchn.com/coffee-basics-the-difference-b-41949">Coffee Types</a></p>
    <p><a href="http://www.coffeecrossroads.com/coffee-101/coffee-roasts-from-light-to-dark">Coffee Roasts</a></p>
    <p><a href="http://www.coffeecrossroads.com/coffee-101/coffee-roasts-from-light-to-dark">Coffee Grinds</a></p>
  </article>
  <article>
    <h3>Good Coffee</h3>
    <p>Making coffee in a typical coffee maker can be as simple as scooping pre-ground coffee into a filter, pouring water into its reservoir, and turning it on. If you were looking to make better coffee, you might buy specialty beans and even freshly grind them. Even so, there is not much control over the flavor—those beans may not produce good-tasting coffee in your machine. The temperature of the water and the manner and duration in which it is applied to the grounds—three very important factors in determining final flavor—are predetermined in most coffee makers.</p>

    <p>So, if you did have complete control over all aspects of the process, what method should you use to get the best-tasting coffee? As it turns out, the answer to this question is the start of a journey—everyone’s tongue has a slightly different idea of what “best” is, but also different beans need different treatment to accentuate their positive features (or minimize negative ones).</p>

    <h3>Coffee Controls</h3>
    <p>Ingredients: the beans (kind, grind, and amount) and water (kind, temperature, and amount)
    Brew Method: combining water and ground coffee in some fashion, then usually separating the liquid from the grounds</p>

    <h3>AeroPress</h3>
    <p>The AeroPress allows a brewer such control. At first, the range of possibilities for each aspect can be overwhelming, not to mention the possible combinations and remembering what produced good results and what didn’t. And starting with a bean you are unfamiliar with can be like starting all over again. If only there was a way to keep track of your coffee explorations . . .</p>

    <h3>Enter Brew Keeper</h3>
    <p>Brew Keeper provides a way to record, brew, refine, and take notes on your coffee recipes so you can home in on your best brew for each bean. This site was designed with the AeroPress in mind, but can easily support other brewing equipment.</p>
  </article>
</section>

<section class="about-creators hidden">
  <h3>About the Creators</h3>

  <article>
    <figure>
        <img src="img/David White.png"/>
    </figure>
    <div>
      <h4>David White</h4>
      <p><strong>Coffee Preference:</strong> Black... if it's good, otherwise, just a touch of milk or cream.</p>
      <p> <strong>Project Contributions:</strong> HTML5, CSS3/SCSS, JavaScript, AngularJS, jQuery</p>
      <a href="https://www.linkedin.com/in/dmwhite1"><img class="link-icons" src ="img/linkedin1.svg"/></a>
      <a href="https://github.com/s4dmw"><img class="link-icons" src="img/github10.svg"/></a>
    </div>
  </article>

  <article>
    <figure>
        <img src="img/Shay Hall.png"/>
    </figure>
    <div>
      <h4>Shay Hall</h4>
      <p><strong>Coffee Preference:</strong> Black (daily) or Mocha-frappa-caramel-latte w/extra-whip (occassionally).</p>
      <p> <strong>Project Contributions:</strong> HTML5, CSS3/SCSS, JavaScript, AngularJS, jQuery</p>
      <a href="https://www.linkedin.com/in/shay-hall-b0ba1a3a"><img class="link-icons" src ="img/linkedin1.svg"/></a>
      <a href="https://github.com/ShayHall"><img class="link-icons" src="img/github10.svg"/></a>
    </div>
  </article>

  <article>
    <figure>
      <img src="img/Kathleen Rauh.png"/>
    </figure>
    <div>
      <h4>Kathleen Rauh</h4>
      <p><strong>Coffee Preference:</strong> Non-fat cappuccino with one raw sugar.</p>
      <p> <strong>Project Contributions:</strong> Python3, Django, Django REST framework, Travis-CI, PostgreSQL, Mailgun, GitHub</p>
      <a href="https://www.linkedin.com/in/kathleen-rauh-915b11104"><img class="link-icons" src ="img/linkedin1.svg"/></a>
      <a href="https://github.com/nckathleen"><img class="link-icons" src="img/github10.svg"/></a>
    </div>
  </article>

  <article>
    <figure>
        <img src="img/Adam Hartz.png"/>
    </figure>
    <div>
      <h4>Adam Hartz</h4>
      <p><strong>Coffee Preference:</strong> See "Adam's Original" Recipe</p>
      <p> <strong>Project Contributions:</strong> Python3, Django, Django REST framework, Heroku, Travis-CI, PostgreSQL, Mailgun, Git, GitHub, Postman, InDesign, Illustrator</p>
      <a href="https://www.linkedin.com/in/adam-hartz-34b46b7"><img class="link-icons" src ="img/linkedin1.svg"/></a>
      <a href="https://github.com/ahartz1"><img class="link-icons" src="img/github10.svg"/></a>
    </div>
  <article>
</section>
