<nav class="recipe-list">
  <!-- <h2>Recipe List</h2> -->
  <!-- <input placeholder="&#x1f50d Search" ng-model="filter"></input> -->
  <input placeholder="&#x1f50d Search" ng-model="searchString" name="search" ng-submit="search(searchString)">
    <button href="" name="search"  ng-click="search(searchString)">Search</button>
  </input>


  <select name="OrderBy" value="OrderBy" ng-model="query">
    <option value="">Sort By</>
    <option value="-rating">Highest Rating</option>
    <option value="rating">Lowest Rating</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
    <!-- <option value="-brew_count">Most Brewed</option> -->
    <!-- <option value="brew_count">Least Brewed</option> -->
  </select>
  <!-- <a href="#/users/{{username}}/recipes/new">Create New<img src="img/flask.svg"/></a> -->
  <!--Flask by Mister Pixel from the Noun Project-->
</nav>

<section class="recipe-list" ng-repeat="recipe in recipes | orderBy: 'id' | orderBy:query | filter:filter">
  <a href="#public/{{recipe.id}}">{{recipe.title}}</a>
  <span>{{recipe.bean_name}}</span>
  <div class="col-1-2">
    <span>{{recipe.roast}}</span>
    <div class="col-1-4">
      <!-- star rating -->


      <div class="col-1-3">
          <span ng-hide="username" ng-repeat="rating in ratings">
              <div view-rating rating-value="recipe.average_rating" max="rating.max" ng-click="" class="public"></div>
          </span>
        <!-- userRating.current = {{userRating.current}} -->
        <section ng-show="username">
          <span ng-hide="recipe.public_ratings.id" ng-repeat="rating in ratings">
            <div star-rating rating-value="recipe.combined_rating" max="rating.max" ng-click="newRating(recipe.combined_rating, recipe.id)" class="public"></div>
          </span>
          <span ng-show="recipe.public_ratings.id" ng-repeat="rating in ratings">
            <div star-rating rating-value="recipe.public_ratings.public_rating" max="5" ng-click="updateRating(recipe.public_ratings.public_rating, recipe.public_ratings.id, recipe.id)"></div>
          </span>
        </section>
      </div>


      <!-- end star rating -->
      <!-- <span class="count"><img class="cup-icon" src="img/CoffeeCup-65.svg"/> x {{recipe.brew_count}}</span> -->
    </div>

  </div> <!-- end col-1-2 -->
  <div class="col-1-2 button">
    <a ng-show="recipe.steps.length" ng-click="publicListBrewIt(recipe.id)">BREW IT!</a>
    <!-- <a href="#users/public/recipes/{{recipe.id}}" ng-hide="recipe.steps.length">Add steps</a> -->
  </div> <!--end col-1-2 -->
</section><!-- end ng-repeat for recipe list -->
