<section class="brewit-page">
  <nav class="brewit-nav">
    <a class="brewit-title" href="#public/{{detail.id}}"><h2 class="brewit-title">{{detail.title}}</h2></a>
    <!-- <p ng-show="detail.rating"><strong>Rating: </strong>{{detail.rating}}</p> -->
    <!-- <p ng-show="detail.brew_count"><strong>Brew Count: </strong>{{detail.brew_count}}</p> -->
    <a href="" class="reset-brew clicker-button" ng-click="resetBrew()">RESET</a>
    <a href="" class="hidden restart-brew  public clicker-button" ng-click="reStartBrew()">Brew Again</a>
    <!-- <a href="" class="hidden add-brew-note clicker-button">Add Brew Note</a> -->
    <!--star ratings-->
    <div class="col-1-3">
      <span ng-hide="username" ng-repeat="rating in ratings">
      <div view-rating rating-value="rating.current" max="rating.max" ng-click="" class="public"></div>
      </span>
      <!-- userRating.current = {{userRating.current}} -->
      <section ng-show="username">
        <span ng-hide="ratingId" ng-repeat="rating in ratings">
          <div star-rating rating-value="rating.current" max="rating.max" ng-click="rateRecipe(rating.current)" class="public"></div>
        </span>
        <span ng-show="ratingId" ng-repeat="userRating in userRatings">
          <div star-rating rating-value="userRating.current" max="userRating.max" ng-click="rateRecipe(userRating.current)"></div>
        </span>
      </section>
    </div>
    <!--end star ratings-->
  </nav>
  <section class="brew-form hidden" >
    <form ng-submit="addBrewNote()">
      <!-- <label>Add Brew Note</label> -->
      <textarea required type="text" ng-model="brewnote.body" placeholder="Brew Note"></textarea>
      <button class="save-note" type="submit">Save Note</button>
    </form>
  <!-- <a href="" class="cancel-note clicker-button">Cancel Note</a> -->
  </section><!--END brew-form-->

  <div class="step delay">
  <p class="countdown">COUNTDOWN</p>
    <p class="counting"><timer autostart="false" class="counting" interval="1000" countdown="3" finish-callback="startBrew(detail.brew_count)">{{seconds}}</timer></p>
  </div><!-- END countdown timer-->

  <div ng-repeat="step in steps | orderBy: 'step_number'" class="step inactive-step {{step.step_number}} animated">
    <p class="stepOf"><span>{{stepArray.indexOf(step.step_number)+1}}</span> of {{stepTotal}}</p>
    <article class="step-box">
      <p class="step-name">{{step.step_title | uppercase}}</p>
      <!-- duration - {{step.duration}} sec -->
      <p class="water {{step.step_number}}" ng-show="step.water_amount">{{step.water_amount}} {{detail.water_units}}</p>
      <timer class="counting {{step.step_number}} hidden" autostart="false" interval="1000" countdown="step.duration" finish-callback="nextStep(step.step_number, detail.brew_count)"><p><span ng-show="minutes">{{minutes}}:{{sseconds}}</span><span ng-hide="minutes">{{seconds}}</span></p></timer>
    </article>
    <p class="step-body">{{step.step_body}}</p>
  </div><!--END Steps-->
</section><!--END brewit-page-->
