<h3>Create New Recipe</h3>
<form class="create-new-recipe" ng-controller="createNewRecipe" ng-submit="submit()">
  <section class="columns general">
  <fieldset>
    <label>Recipe Title*</label>
    <input placeholder="The Original" maxlength="50"  ng-model="recipe.title"></input>
    <label>General Recipe Comment</label>
    <textarea placeholder="No stirring, just hard pour."  ng-model="recipe.general_reipe_comment"></textarea>
  </fieldset><!--General Details-->
  </section>
  <section class="columns">
    <fieldset>
      <legend><h4>Bean Details</h4></legend>
      <label>Bean Name</label>
      <input max="50" placeholder="Arabica"  ng-model="recipe.bean_name"></input>
      <label>Bean Roast</label>
      <input max="15" placeholder="Medium"  ng-model="recipe.roast"></input>
      <label>Grind</label>
      <input maxlength="12" placeholder="Capresso M2"  ng-model="recipe.grind"></input>
      <label>Bean Amount</label>
      <input type="number"  ng-model="recipe.total_bean_amount"></input>
      <label>Bean Units</label>
      <input max="12" placeholder="g"  ng-model="recipe.bean_units"></input>
  </fieldset><!--Bean Details-->
  </section>
  <section class="columns">
    <fieldset>
      <legend><h4>Water Details</h4></legend>
      <label>Water Type</label>
      <input maxlength="50" placeholder="tap"  ng-model="recipe.water_type"></input>
      <label>Water Amount</label>
      <input  ng-model="recipe.total_water_amount"></input>
      <label>Water Amount Units</label>
      <input maxlength="12"  ng-model="recipe.water_units"></input>
      <label>Temp</label>
      <input placeholder="Temp in F."  ng-model="recipe.temp"></input>
      <label>Orientation</label>
      <select>
        <option>Standard</option>
        <option>Inverted</option>
      </select  ng-model="recipe.orientation">
    </fieldset><!--Water Details-->
  </section>
  <button class="addSteps" type="submit">Submit</button>
</form><!--Recipe Form-->
