
<nav class="recipe-list">
  <!-- <h2>Recipe List</h2> -->
  <input placeholder="Filter Recipes" ng-model="filter"></input>
  <select name="OrderBy" value="OrderBy" ng-model="query">
    <option value="">Sort By</>
    <option value="roast">Roast</option>
    <option value="bean_name">Bean</option>
    <option value="-rating">Rating</option>
    <option value="-id">Newest</option>
    <option value="-brew_count">Brew Count</option>
  </select>
  <!-- <a href="#/users/{{username}}/recipes/new">Create New<img src="img/flask.svg"/></a> -->
  <!--Flask by Mister Pixel from the Noun Project-->
</nav>

<section class="recipe-list" ng-repeat="recipe in recipes | orderBy: 'id' | orderBy:query | filter:filter">
  <a href="#users/{{username}}/recipes/{{recipe.id}}">{{recipe.title}}</a>
  <span>{{recipe.bean_name}}</span>
  <div class="col-1-2">
    <span>{{recipe.roast}}</span>
    <div class="col-1-4">
      <!-- star rating -->
      <!-- rating : {{recipe.rating}} -->
      <span class="rating" ng-repeat="rating in ratings">
        <span star-rating rating-value="recipe.rating" max="5" ng-click="rateRecipe(recipe.rating, recipe.id)"></span>
      </span>
      <!-- end star rating -->
      <span class="count"><img class="cup-icon" src="img/CoffeeCup-65.svg"/> x {{recipe.brew_count}}</span>
    </div>

  </div> <!-- end col-1-2 -->
  <div class="col-1-2 button">
    <a ng-show="recipe.steps.length" ng-click="listBrewIt(username, recipe.id)">BREW IT!</a>
    <a href="#users/{{username}}/recipes/{{recipe.id}}" ng-hide="recipe.steps.length">Add steps</a>
  </div> <!--end col-1-2 -->
</section><!-- end ng-repeat for recipe list -->
