<form class="changeForm" name="changeForm" ng-controller="changePassword" ng-submit="resetPassword(changeForm.confirmNewPassword.$error.match)">
<!-- <form class="changeForm" name="resetForm" ng-controller="changePassword" ng-submit="resetPassword(users)"> -->
  <div class="columns general">
    <label class="changeForm" for="changeForm">Reset Password</label>
    <input type="text" name="username" placeholder="username" ng-model="users.username" required>
    <input type="email" name="email" placeholder="email address" ng-model="users.email" required>
    <input type="text" name="reset_string" placeholder="reset code" ng-model="users.reset_string" required>
    <input type="password" name="newPassword" placeholder=" new password" ng-model="users.new_password" required minlength="4">
    <input type="password" name="confirmNewPassword" placeholder=" confirm new password" required ng-model="users.confirmNewPassword" data-match="users.new_password">
  </div>
  <button class="clicker-button" name="changeForm" type="submit">Submit</button>
</form> <!--end password change form -->
