<form class="changeForm" name="changeForm" ng-controller="changePassword as changePwdVm" ng-submit="changePwdVm.resetPassword(changeForm.confirmNewPassword.$error.match)">
  <div class="columns general">
    <label class="changeForm" for="changeForm">Reset Password</label>
    <input type="text" name="username" placeholder="username" ng-model="changePwdVm.users.username" required>
    <input type="email" name="email" placeholder="email address" ng-model="changePwdVm.users.email" required>
    <input type="text" name="reset_string" placeholder="reset code" ng-model="changePwdVm.users.reset_string" required>
    <input type="password" name="newPassword" placeholder=" new password" ng-model="changePwdVm.users.new_password" required minlength="4">
    <input type="password" name="confirmNewPassword" placeholder=" confirm new password" required ng-model="changePwdVm.users.confirmNewPassword" data-match="changePwdVm.users.new_password">
  </div>
  <button class="clicker-button" name="changeForm" type="submit">Submit</button>
</form>
<br>
<br>
<span ng-show="errorMessage">{{errorMessage}}</span>
<span ng-show="errorMessage.detail">username {{errorMessage.detail}}</span>