<form class="login" ng-submit="vm.login()">
  <h1>Login</h1>
  <div class="columns general">
    <input class="login-user" type="text" name="username" placeholder="username" ng-model="vm.users.username" required>
    <input class="login-password" type="password" name="password" placeholder="password" ng-model="vm.users.password" required>
    <button href="" class="login clicker-button" name="login">Login</button>
    <a href="#/signup" class="show-signup show-register clicker-button">Sign Up</a>
    <a href="#/send-reset" class="show-signup reset clicker-button">Reset Password</a>
  </div>
</form>