<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Brew Keeper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="favicons/manifest.json">
        <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#33b55d">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#33b55d">
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="brewKeeper" ng-controller="MainController as vm">
        <heading class="heading">
          <a class="logo" href="#/public"><img class="logo" src="img/Brew_Keeper_Logo_v3.png"/></a>
          <nav class="menu hamburger">
            <ul class="menu">
              <li ng-show="username"><a href="#/{{username}}">My Recipes</a><li>
              <li ng-show="username"><a href="#/{{username}}/new">Create Recipe</a></li>
              <li><a class="about" href="#/info">About</a></li>
              <li class="login-link" ng-hide="username"><a ng-click="vm.changePassword=false" href="#/login">Login</a></li>
              <li ng-show="username"><a ng-click="vm.logout()" href="#/login">Logout</a></li>
              <li ng-show="username"><a ng-click="vm.changePassword=true" href="#/login">Change Password</a></li>
            </ul>
          </nav>
        </heading>
      <main class="container wrapper">

        <div class="place-holder">
          <ng-view />
        <div> <!-- end div.place-holder -->
      </main>

<section class="register-modal inactive">
<div>Please make sure your passwords match.
    <button class="clicker-button password-fail">OK</button>
</div>
</section>

<section class="login-modal inactive">
<div>Please enter a valid username and password.
    <button class="clicker-button login-fail">OK</button>
</div>
</section>

<section class="successful-modal inactive">
<div>Password Successfully Changed!
    <button class="clicker-button change-not-fail">OK</button>
</div>
</section>

<section class="password-modal inactive">
<div>Current password incorrect, please try again.
    <button class="clicker-button password-fail">OK</button>
</div>
</section>

<section class="steps-modal inactive">
<div>Plese add steps to recipe before making it public.
    <button class="clicker-button steps-fail">OK</button>
</div>
</section>

<section class="confirm-modal inactive">
<div>Are you sure you want to make this recipe public?
    <button class="clicker-button confirm-fail">OK</button>
    <button class="clicker-button cancel-fail">Cancel</button>
</div>
</section>

<section class="confirm-clone-modal inactive">
<div>Are you sure you want to clone this recipe?
    <button class="clicker-button confirm-clone-fail">OK</button>
    <button class="clicker-button cancel-clone-fail">Cancel</button>
</div>
</section>

<section class="confirm-delete-modal inactive">
<div>Are you sure you want to delete this step?
    <button class="clicker-button confirm-delete-fail">OK</button>
    <button class="clicker-button cancel-clone-fail">Cancel</button>
</div>
</section>

<section class="confirm-eliminate-modal inactive">
<div>Are you sure you want to delete this recipe?
    <button class="clicker-button confirm-eliminate-fail">OK</button>
    <button class="clicker-button cancel-clone-fail">Cancel</button>
</div>
</section>

<section class="sharing-modal inactive">
<div>Thanks for sharing!
    <button class="clicker-button sharing-not-fail">OK</button>
</div>
</section>

<section class="welcome-modal inactive">
<div><p>Thanks for choosing Brew Keeper! Here are a few recipes to get you started.</p>
    <button class="clicker-button welcome-fail">OK</button>
</div>
</section>

      <!-- bower:js -->
      <script src="../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../bower_components/modernizr/modernizr.js"></script>
      <script src="../bower_components/angular/angular.min.js"></script>
      <script src="../bower_components/angular-route/angular-route.min.js"></script>
      <script src="../bower_components/moment/min/moment.min.js"></script>
      <script src="../bower_components/humanize-duration/humanize-duration.js"></script>
      <script src="../bower_components/angular-timer/dist/angular-timer.js"></script>
      <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
      <script src="../bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <!-- endbower -->
      <script src="js/plugins.js"></script>
      <script src="js/main.js"></script>
      <script src="app/services/user.service.js"></script>
      <script src="app/user/signup.controller.js"></script>
      <script src="js/login.js"></script>
      <script src="js/recipe-detail.js"></script>
      <script src="app/brew/brew-it.controller.js"></script>
      <script src="app/brew/step-timer.controller.js"></script>
      <script src="js/rating.js"></script>
      <script src="app/recipes/recipe-list.js"></script>
      <script src="app/recipes/clone.controller.js"></script>
      <script src="app/recipes/new-recipe.js"></script>
      <script src="js/public-detail.js"></script>
      <script src="js/public-brewit.js"></script>
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
    </body>
</html>