.page-404 {
  margin: 0 auto;
  width: 90%;
  max-width: 40em;

  .clicker-button {
    background-color: $BrewIt;
    padding: .5rem 1.2rem;
    border: none;
  }

  .pull-right {
    float: right;
  }
}
