.brewit-page {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;

  section.brew-form {
    margin: -2ex 0 1ex 10%;
    width: 80%;
  }

  span.rating {
    display: inline-block;
    float: left;
    margin-top: .8rem;
  }

  span.rating .public {
    margin-top: -1.5ex;
  }

}

.brew-step {
  background-color: $Inactive;
  box-sizing: border-box;
  clear:both;
  color: #000;
  height: 10.3rem;
  margin: 1rem 0;
  position: relative;
  .counting {
    bottom: .4rem;
    font-size: 2.8rem;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .counting.countdown {
    bottom: 30%;
  }
}

.brew-step--current {
  background-color: $BrewIt;
  .brew-step__title {
    font-weight: bold;
  }
  .brew-step__water {
    font-weight: bold;
  }
  .brew-step__body {
    font-size: .9rem;
  }
}

.brew-step--finished {
  @extend .transition-step;
  color: $Inactive;
  padding: 0 0;
  .brew-step__body {
    @extend .transition-font;
  }
  .brew-step__step-of {
    @extend .transition-font;
    height: 0;
    span {
      @extend .transition-font;
    }
  }
  .brew-step__title {
    @extend .transition-font;
  }
  .brew-step__water {
    @extend .transition-font;
  }
  .counting {
    @extend .transition-font;
  }
  timer.counting > p {
    @extend .transition-font;
  }
}

.brew-step--inactive {
  color: $InactiveText;
  height: 7rem;
  margin-top: -1.4ex;
}

.brew-step--restart {
  background-color: $BrewIt;
}

.brew-step__body {
  bottom: 0%;
  font-size: 0.8rem;
  position: absolute;
  text-align: justify;
  width: 90%;
  padding: 0 5%;
}

.brew-step__img {
  margin-left: 35%;
  max-height: 5rem;
  position: absolute;
  top: 3.4rem;
  width: 33.3%;
}

.brew-step__step-of {
  position: absolute;
  right: 5%;
  top: -.2rem;
  span {
    font-weight: bold;
  }
}

.brew-step__title {
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: .7rem;
  width: 55%;
  margin: 0 22.5%;
}

.brew-step__title--countdown {
  @extend .brew-step__title;
  font-weight: bold;
}

.brew-step__water {
  font-size: 1.1em;
  font-weight: 600;
  margin: -2ex 30% 0;
  position: absolute;
  text-align: center;
  top: 3.4rem;
  width: 40%;
}

.nav--brew-it {
  display: block;
  height: 5.9rem;
  margin: 0 5%;
  position: relative;
}

.nav__button--brew-it {
  float: right;
  margin: 0 0 0 0;
  padding: .15rem 0rem;
  width: 7rem;
}

.nav__header-title--brew-it {
  color: $heading;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0;
  opacity: 85%;
  padding-bottom: 1.5ex;
}

.stars {
  display: block;
  width: 100%;
}

// Timeline
:root {
  --brew-duration: 0s;
}

[class|="time"] {
  width: 0em;
}

.timeline[class|="time"] {
  background-color: $BrewIt;
  height: 1.4rem;
  margin: -.7rem 0 0;
  position: absolute;
  width: inherit;
  z-index: 2;
    -webkit-transition: width var(--brew-duration) linear;
    -moz-transition: width var(--brew-duration) linear;
    -o-transition: width var(--brew-duration) linear;
    transition: width var(--brew-duration) linear;
}

.transition-font {
  font-size: 0;
  -webkit-transition: font-size 100ms linear;
  -moz-transition: font-size 100ms linear;
  -o-transition: font-size 100ms linear;
  transition: font-size 100ms linear;
}

.transition-step {
  height: 0;
  margin: 0 0;
  -webkit-transition: height 1s linear, margin 1s linear;
  -moz-transition: height 1s linear, margin 1s linear;
  -o-transition: height 1s linear, margin 1s linear;
  transition: height 1s linear, margin 1s linear;
}
