@media (min-width: 50em){
  .heading {
    h1 {
      width:60%;
    }
    > nav.menu {
      width: 50%;
      position: absolute;
      top: 0.6ex;
      right: 5%;
      &.hamburger::before {
        display: none;
      }
      ul.menu {
        display: block;
        float: right;
        margin-top: 4ex;
        li {
          display: inline-block;
          margin-left: 0.7em;
          a {
            text-decoration: none;
          }
        }
      }
    }//nav.menu
  }//.heading
  .container {
    .recipe-list-options {
      input, select {
        width: 20%;
        margin: 3ex 40%;
      }
  input {
    box-sizing: border-box;
    width: 20%;
    margin: 1ex 40% 2ex 40%;
  }
  select {
    box-sizing: border-box;
    width: 18%;
    margin: 3ex 41% 1ex 41%;
  }
    }//nav.recipe-list-options
  }
}
