@media (min-width: 60em) {

  .container {
    width: 50em;
  }

   // Top Nav
  ////////////////////////////////////////

  .topnav__hamburger::before {
    display: none;
  }

  .topnav__link {
    display: block;
    float: right;
    margin-left: 3ex;
    margin-right: 0;
    padding: 0;
    &:hover {
      font-weight: normal;
    }
  }

  .topnav__logo {
    width:17em;
  }

  .topnav__menu {
    display: block;
    float: right;
    list-style-type: none;
    margin-right: 5%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 1ex;
    width: 60%;
  }

   // Recipe Detail Page
  ////////////////////////////////////////

  .recipe-detail {
    .recipe-view {
      .col-1-3{
        width: 100% * (1/5);
        &.brew-count {
          padding-top: 0.5ex;
          text-align: left;
        }
      }
    }
  }
}  // END @media min-width 60
