$brewitCurrent: #7ec78a;//bright green
$brewitCurrentText: #000;//black???
$brewitCurrentStep: #4d4d4f;//Thunder
$brewitCurrentOf: #545c56;//Feldgrau
$brewitInactive: #ebeced;//lightgray
$brewitInactiveText:#99999d;//inactive text
$brewitInactiveStep: #abacaf;//Silver Chalice
$brewitInactiveOf: #b1b2b4;//Magnesium

h3.form-heading {
  margin-left: 5%;
  color: $brewitCurrentOf;
  font-weight: 600;
}

.clicker-button{
  font-size: 0.8em;
  color:darken($brewitInactive, 54%);
  padding: 0.15ex 2.5em;
  border: 2.3px solid darken($brewitInactive, 29%);
  background-color: darken($brewitInactive, 10%);
  &.login {
    background-color: $brewitCurrent;
    margin-left: 5%;
  }
  &.register {
    display: block;
    margin: 0 5% 5ex 2.5%;
    float: left;
    font-size: 0.8em;
    text-decoration: none;
    color:darken($brewitInactive, 54%);
    padding: 0.15ex 1.5em;
    border: 2.3px solid darken($brewitInactive, 29%);
    background-color: $brewitCurrent;
    }
  &.addSteps {
    display: block;
    margin: 2ex 41% 5ex 41%;
    float: left;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0.15ex 1.5em;
    border: 2.3px solid
  }
  &.submit-recipe-edit.clone {
    display: block;
    width: 7em;
    margin: 2ex 30% 5ex 30%;
    float: left;
    font-size: 0.8em;
    text-decoration: none;
    border: 2.3px solid
  }
  &.submit-recipe-edit.edit {
    display: block;
    margin: 2ex 0 5ex 38%;
    float: left;
    font-size: 0.8em;
    text-decoration: none;
    border: 2.3px solid
  }
}//.clicker-button

form.login {
    width: 90%;
    margin: 0 5%;
  .show-signup {
    float: right;
    margin-right: 5%;
    font-size: 0.8em;
    color:darken($brewitInactive, 54%);
    padding: 0.15ex 1.5em;
    border: 2.3px solid darken($brewitInactive, 29%);
    background-color: darken($brewitInactive, 10%);
  }
}//form.login

form.create-new-recipe {
  .columns {
    display: block;
    width: 50%;
    float: left;
    label, input, select, textarea, legend {
      display: block;
      width: 80%;
      margin: 1ex 5%;
    }
    select {
      width: 84%;
      margin-top: -0.5em;
    }
    input, textarea {
      margin-bottom: 2ex;
    }
    .small-field {
      display: inline;
      font-size: 0.9em;
      margin-top: -0.5em;
      margin-bottom: .5em;
      float: left;
      box-sizing: border-box;
      width: 40%;
    }
      input.small-field {
        margin-right: 0.2em;
      }
      select.small-field {
        width: 40%;
        margin-left: 0.4em;
        margin-right: 0;
        margin-bottom: -.5em
      }
      &.general {
        width: 90%;
        margin: 0 5%;
        input {
          width: 100%;
          margin: 1ex 0 1ex -0.5em;
        }
        textarea {
          width: 100%;
          margin: 1ex 0 1ex -0.5em;
          height: 8ex;
        }
      }//&.general
    .form-placeholder {
      color: darken(lightgray, 13%);
    &.changed {
      color: black;
      }
    }
    .details-legend {
      color: $brewitInactiveStep;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}//form.create-new-recipe

form.edit-recipe.clone {
  .columns {
    display: block;
    width: 50%;
    float: left;
    input {
      margin: -0.8ex 5% 2ex 5%;
      width: 79%;
    }
    input.small-field {
      margin-right: 0.2em;
    }
    select {
      width: 84%;
      margin: -0.5em 5% 2ex 5%;
    }
    select.small-field {
      width: 40%;
      margin-left: 0.4em;
      margin-right: 0;
      margin-bottom: -.5em
    }
    .small-field {
      display: inline;
      font-size: 0.9em;
      margin-top: -0.5em;
      margin-bottom: 1em;
      float: left;
      box-sizing: border-box;
      width: 40%;
    }
    &.general {
      display: block;
      width: 100%;
      margin: 0;
      input, textarea {
        display: block;
        width: 90%;
        margin: 1ex 2.5% 2ex;
      }
    }//&.general
    .details-legend {
      color: $brewitInactiveStep;
      font-size: 1.2em;
      font-weight: 500;
      margin-left: 0.3em;
    }
  }//.columns
}//form.edit-recipe.clone






form.edit-recipe {
  .columns {
      display: block;
      width: 50%;
      float: left;
      input {
        margin: -0.8ex 5% 2ex 5%;
        width: 79%;
      }
      input.small-field {
        margin-right: 0.2em;
      }
      select {
        width: 84%;
        margin: -0.5em 5% 2ex 5%;
      }
      select.small-field {
        width: 40%;
        margin-left: 0.4em;
        margin-right: 0;
        margin-bottom: -.5em
      }
      .small-field {
        display: inline;
        font-size: 0.9em;
        margin-top: -0.5em;
        margin-bottom: 1em;
        float: left;
        box-sizing: border-box;
        width: 40%;
      }
      &.general {
        display: block;
        width: 100%;
        margin: 0;
        input, textarea {
          display: block;
          width: 90%;
          margin: 1ex 2.5% 2ex;
        }
      }//&.general
      .details-legend {
        color: $brewitInactiveStep;
        font-size: 1.2em;
        font-weight: 500;
        margin-left: 0.3em;
      }
  }//.columns
}//form
