.heading {
  box-sizing: border-box;
    img.logo {
      width:12em;
    }
    a[href].logo {
      display: block;
      width: 12em;
   }
  nav.menu {
    &.hamburger::before {
      content: '\2261';
      color: $heading-color;
      font-size: 3em;
      position: absolute;
      right: 5%;
      top: -2%;
      height: 50px;
    }
    ul.menu {
      display: none;
    }
    ul.menu.active {
      display: block;
      list-style-type: none;
      padding-left: 0;
      li {
        text-align:right;
        a {
          text-decoration: none;
          &:hover {
            color: $brewitCurrent;
          }
        }
      &.hidden {
        display: none;
      }
      }
    }
  }//nav.menu
}//.heading
