.heading {
  box-sizing: border-box;
  nav.menu {
    &.hamburger::before {
      content: '\2261';
      color: $heading-color;
      font-size: 4em;
      position: absolute;
      right: 5%;
      top: 0;
    }
    ul.menu {
      display: none;
    }
    ul.menu.active {
      display: block;
      list-style-type: none;
      padding-left: 0;
      li {
        text-align:right;
        a {
          text-decoration: none;
        }
      &.hidden {
        display: none;
      }
      }
    }
  }//nav.menu
}//.heading
