.topnav {
  background-color: #fff;
  border-bottom: 1px solid $heading;
  box-sizing: border-box;
  display: block;
  padding: 1ex 5%;
}

.hidden {
  display: none;
}

.topnav__entry {
  text-align: right;
}

.topnav__hamburger::before {
  color: #000;
  content: '\2261';
  font-size: 3em;
  height: 50px;
  position: absolute;
  right: 5%;
  top: -2%;
}

.topnav__link {
  text-decoration: none;
  &:hover {
    color: $BrewIt;
    font-weight: bold;
  }
}

.topnav__logo {
  display: block;
  width:12em;
}

.topnav__menu {
  display: none;
  width: 0;
  &.active {
    background-color: #fff;
    border: 1px solid $heading;
    border-right: 1px solid #fff;
    border-top: 3px solid #fff;
    display: block;
    list-style-type: none;
    padding-left: 0;
    padding: 0 1.5em 1.7ex ;
    position: absolute;
    right: 0;
    top: 4ex;
    width: 10em;
    z-index: 1;
  }
}
