nav.recipe-list {
  box-sizing: border-box;
  height: 100%;
  display: block;
  // outline: 1px solid red;
  margin: 5% 5% 5%;
  input {
    width: 40%;
    float: left;
    margin-right: 5%;
  }
  select {
    float: left;
    width: 40%;
    margin-left: 5%;
  }
  .clicker-button {
  margin-left: 0;
  margin-right: 90%;
  float: left;
  margin-top: 2ex;
  margin-bottom: 1ex;
  }
}

section.recipe-list {
  @extend .clearfix;
  box-sizing: border-box;
  width: 100%;
  margin: 10% 5%;

  & :after {
    @extend .clearfix;
  }

  a {
    box-sizing: border-box;
    width: 100%;
    max-width: 9em;
    font-weight: bold;
    &.recipe-title {
      display: block;
      width: 90%;
      max-width: 90%;
   }
}

  .col-1-2 {
    // @extend .clearfix;
    width: 45%;
    float: left;

    .col-1-4 {
      // @extend .clearfix;
      width: 110%;
      float: left;
      span {
        float: left;
      }

      span.count {
        font-size: 0.8em;
        margin-left: 2%;
        margin-top: 1.9ex;
        img {   //See Tablet View
         width: 17px;
        }
      } //end span.count
    } //end col-1-4

    a {//See Tablet View
      margin-top: 0.6em;
      margin-left: 5%;
      width: 85%;
      margin-right: 5%;
      background-color: $brewit-button-color;
      float: right;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  } // end col-1-2
} //end section.recipe-list
