.recipe-detail {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;

  h3.title {
    color: $heading;
    font-weight: 600;
    margin: 5% 0 2%;
  }
  .recipe-view {
    .col-1-3{
      float: left;
      box-sizing: border-box;
      width: 100% * (1/2);
      &.brew-count {
        text-align: right;
        padding-top: 0.5ex;
      }
    }
    img.cup {
      width: 17px;//See tablet.scss
      }
    a.brew-it-button {//See tablet.scss
      box-sizing: border-box;
      float: left;
      width: 100%;
      margin-top: 1ex;
      margin-bottom: 2ex;
      background-color: $BrewIt;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      padding: 4px 0;
    }
    a.no-steps {
      box-sizing: border-box;
      float: left;
      width: 100%;
      margin-top: 1ex;
      margin-bottom: 2ex;
      background-color:$Inactive;
      font-size: 1em;
      font-weight: 500;
      text-align: center;
      padding: 4px 0;
    }
  }
  img.trash-icon {
    cursor: pointer;
    width: 30px;
    padding-top: 0.3ex;
    float: right;
  }
 img.edit-icon{
   cursor: pointer;
   width: 35px;
   float: right;
 }
}

.recipe-detail div.details {
  @extend .clearfix;
  width: 100%;
  padding-bottom: 2ex;
  margin-bottom: 5%;
  border-bottom: solid 1px $heading;
  section.details {
    box-sizing: border-box;
    width: 85%;
    float: left;
    span {
      display: block;
    }
    &.water-details {
      padding-top: 1ex;
    }
    &.brew-time {
      padding-top: 1%;
      width: 60%;
    }
  } //detail sections
  div.detail-icon {
    box-sizing: border-box;
    clear: both;
    width: 15%;
    float: left;
    content: "";
    display: table;
    img {
      width: 40px;
    }
  }
  section.icons {
    width: 25%;
    float: right;
  }
} //end recipe-detail & div.details

section.edit-step-icons {
  float:right;
  width: 25%;
  margin-left: 75%;
  margin-top: -5ex;
}
div.brew-notes-heading > h3 {
    display: block;
    width: 86%;
  }

div.brew-notes-heading >  .plus-icon {
    cursor: pointer;
    margin-left: 5%;
    float: right;
  }
div.add-steps {
  margin-bottom: 4ex;
  padding-bottom: 1ex;
  border-bottom: 1px solid $heading;
}
div.add-steps-heading {
  display: block;
  margin-bottom: 2ex;
}
div.add-steps-heading > h3 {
  color: $heading;
  margin: 0;
  width: 86%;
  font-weight: 500;
}
div.add-steps-heading  > .plus-icon {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 0;
    margin-top: -3ex;
    float: right;
} //.add-steps
// steps section
.step-list {
  @extend .clearfix;
  margin-bottom: 2ex;
  div.num-col {
    content: "";
    display: table;
    width: 15%;
    float: left;
    box-sizing: border-box;
    font-size: 2em;
    color: $Inactive;
    font-weight: bold;
    text-align: center;
    [class*='-arrow-icon'] {
      cursor: pointer;
      float: right;
      margin-left: 2.5%;
      margin-right: 20%;
    }
  } //end div.num-col

  div.step-details {
    box-sizing: border-box;
    float: right;
    width: 85%;
    margin-bottom: 2ex;
    margin-top: 1ex;
    .bold-text {
      font-weight: 600;
    }
    p {
      margin: 0;
    }
    p.step-details{
      width: 80%;
    }
    div.duration {
      width: 70%;
      content: "";
      display: table;
      clear: both;
      float: left;
      box-sizing: border-box;
    }
    section.icons {
      width: 30%;
      float: left;
    }
  } //end div.step-details
}
// end steps section

.gen-recipe-comment {
  border-bottom: 1px solid $heading;
  p {
    margin-left: 5%;
    margin-right: 5%;
  }
} //end section.gen-recipe-comment
.gen-recipe-comment.public {
  border-top: 1px solid $heading;
}
div.clone-button {
  cursor: pointer;
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-top: 2ex;
  margin-bottom: 3ex;
  padding-top: 1ex;
  padding-bottom: 1ex;
  background-color: $Inactive;
  text-align: center;
  &:last-of-type {
    float: right;
    margin-right: 5%;
  }
} //end div.clone-button
div.clone-button.public {
  cursor: pointer;
  float: left;
  margin-left: 30%;
}

.brew-notes {
  margin-bottom: 10ex;
    h3 {
      color: $heading;
      margin: 0;
      width: 90%;
      float: left;
      font-weight: 500;
    }

  div.notes {
    margin-top: 2ex;
    margin-left: 5%;
    margin-right: 0;
      .note-body {
        box-sizing: border-box;
        width: 100%;
        float: left;
      }
      .note-date {
        width: 75%;
        margin-bottom: 2ex;
        float: left;
        box-sizing: border-box;
        color: $heading;
      }
      .note-icons {
        width: 25%;
        float: right;
        [class*='-icon'] {
          float: right;
          margin-left: 2.5%;
        }
      }
  } //div.notes
}//end section.brew-notes
