//recipe detail page
.recipe-detail {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;

  h3.title {
    margin: 5% 0 2%;
  }
  .recipe-view {

    .col-1-3{
      float: left;
      box-sizing: border-box;
      width: 33%;
      &.brew-count {
        text-align: center;
      }
    }
    img.cup {
      width: 17px;
      }
    a.brew-it-button {
      box-sizing: border-box;
      float: left;
      width: 100%;
      margin-top: 2%;
      margin-bottom: 4%;
      background-color: $brewit-button-color;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      padding: 4px 0;

    }
    a.no-steps {
      box-sizing: border-box;
      float: left;
      width: 100%;
      margin-top: 2%;
      margin-bottom: 4%;
      background-color: lightgray;;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      padding: 4px 0;
    }

  }

}//recipe-detail (top portion)

.trash-icon {
  // width: 22px;
}

//bean/water/time detail section of recipe detail view
.recipe-detail & div.details {
  @extend .clearfix;
  width: 100%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: solid 1px lightgray;
  section.details {
    width: 85%;
    box-sizing: border-box;
    float: left;
    span {
      display: block;
    }
    &.water-details {
      padding-top: 1%;
    }
    &.brew-time {
      padding-top: 1%;
      width: 60%;
    }
  } //detail sections

  div.detail-icon {
    // background-color: gray;
    content: "";
    display: table;
    clear: both;
    width: 15%;
    float: left;
    box-sizing: border-box;
    img {
      width: 40px;
    }
  }

  section.icons {
    // background-color: black;
    width: 25%;
  }

} //end recipe-detail & div.details
//end bean/water/time detail section of recipe detail view

section.icons {
  // background-color: black;
  width: 25%;
  img.edit-icon{
    // background-color: black;
    width: 35px;
  }
  img.trash-icon {
    width: 30px;
  }
}

div.add-steps {
  // background-color: gray;
  .plus-icon {
    margin-left: 87%;
    margin-bottom: -5%;
    // background-color: gray;
    // float: right;
  }
} //.add-steps


// steps section
.step-list {
  @extend .clearfix;
  // margin-bottom: 5%;

  div.num-col {
    // background-color: gray;
    content: "";
    display: table;
    clear: both;
    width: 15%;
    float: left;
    box-sizing: border-box;
    font-size: 2.5em;
    color: lightgray;
    font-weight: bold;
    // text-align: center;
    padding-left: 2%;
  } //end div.num-col
  div.step-details {
    // background-color: lightgray;
    width: 85%;
    margin-bottom: 2%;
    box-sizing: border-box;
    float: left;
    p {
      margin: 0;
    }
    p.step-details{
      width: 80%;
      // background-color: lightgray;
    }
    div.duration {
      width: 70%;
      content: "";
      display: table;
      clear: both;
      float: left;
      box-sizing: border-box;
      // background-color: black;
    }
    section.icons {
      // background-color: black;
      width: 30%;
      float: left;
    }

  } //end div.step-details
}
// end steps section

section.gen-recipe-comment {
  // background-color: gray;
  // margin-left: 5%;
  margin-top: 5%;
  // padding-top: 3%;
  // padding-bottom: 5%;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  p {
    margin-left: 5%;
    margin-right: 5%;
  }
} //end section.gen-recipe-comment

div.clone-button {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: lightgray;
  text-align: center;
} //end div.clone-button

section.brew-notes {
  // background-color: gray;
  margin-top: 5%;
  h3 {
    color: lightgray;
    // background-color: black;
    margin: 0;
    width: 85%;
    float: left;
  }
  img.plus-icon {
    // background-color: black;
  }

  div.notes {
    margin-left: 5%;
      // background-color: gray;
      margin-top: 0%;
      // @extend .clearfix;
      // content: "";
      // display: table;
      // clear: both;
      // float: left;
      // box-sizing: border-box;
      // float: left;

      .note-body {
        // content: "";
        // display: table;
        // clear: both;
        // float: left;
        // box-sizing: border-box;
        width: 100%;
        // background-color: black;
        float: left;
        box-sizing: border-box;

      }
      .note-date {
        // content: "";
        // display: table;
        // clear: both;
        // float: left;
        // box-sizing: border-box;
        width: 75%;
        margin-bottom: 3%;

        // background-color: lightgray;
        float: left;
        box-sizing: border-box;
        color: lightgray;


      }
      .note-icons {
        width: 25%;
        float: left;
        // background-color: black;

      }
  } //div.notes

}//end section.brew-notes













////
