$heading: #545c56;//heading
$Inactive: darken(#ebeced, 10%);//gray-button-background
$InactiveText:#99999d;//inactive text
$BrewIt: #33B55D; //Brewit-Green

[class*='-icon'] {
  width: 30px;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;

  a {
    color: #000;
    text-decoration: none;
  }

  h1 {
    color: $heading;
  }
}

textarea, input, select {
  background-color: #fff;
}
