
$Acolor1: #565656;
$Acolor2: #000;
$Acolor3: #000;
$Acolor4: #fff;
$Acolor5: #fff;

$heading-background: $Acolor4;
$body-background: $Acolor4;
$brewit-background: $Acolor1;
$button-background: $Acolor1;
$heading-color: $Acolor2;
$border-color: $Acolor2;
$body-color: $Acolor2;
$button-color: $Acolor2;
$brewit-color: $Acolor2;

body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: $body-background;
  color: $body-color;
  a {
    color: $heading-color;
  }
}

textarea, input, select {
  background-color: $heading-background;
}
.heading {
  display: block;
  background-color: $heading-background;
  padding: 1ex 5%;
  border-bottom: 1px solid $border-color;
  h1 > a[href]{
    text-decoration: none;
  }
}

div.current-step {
  border-radius: 5px;
  border: 2px solid $border-color;
  color: $brewit-color;
  background-color: $brewit-background;
}

button {
  background-color: $button-background;
  color: $button-color;
  border-radius: 3px;
  margin: 15px 2px;
  font-weight: 100;
}

.brew-step {
  padding-left: 15px;
  padding-top: 10px;
}
