//////////////////////////////////////////
// 32em MIN WIDTH ///////////////////////
////////////////////////////////////////

@media (min-width: 32em) {

   // Top Nav
  ////////////////////////////////////////

  .topnav__hamburger::before {
    font-size: 3.5em;
    top: -0.5ex;
  }

  .topnav__logo {
    width:14em;
  }

  .topnav__menu.active {
    border-top: 2px solid #fff;
    padding: 0 5% 1.7ex 0.5em;
    top: 4.5ex;
  }

   // Brew Page
  ////////////////////////////////////////

  .brewit-page {
    width: 32rem;
    margin: 0 calc((100% - 32rem) / 2);
  }

  .nav--brew-it {
    margin: 0 0;
  }

   // Recipe Detail Page
  ////////////////////////////////////////

  .recipe-detail {
    .recipe-view {
      .cup {
        width: 25px;
      }

      .brew-it-button, .no-steps {
        margin-left: 25%;
        width: 50%;
      }
    }
  }  // recipe-detail (top portion)

  .recipe-detail div.details {
    section.icons {
      float: right;
      width: 25%;
    }
  }

  section.edit-step-icons {
    clear:both;
    margin-left: 75%;
    width: 25%;

    img.edit-icon {
      float: right;
      width: 35px;
    }

    img.trash-icon {
      width: 30px;
    }
  }

  .step-list {
    div.step-details {
      p.step-details {
        width: 95%;
      }
    }
  }

   // About Creators Page
  ////////////////////////////////////////

  .about-creators {
    .link-icons {
      margin-top: 1ex;
      max-width: 30px;
      width: 30px;
    }
  }

}  // END @media min-width 32


//////////////////////////////////////////
// 47em MIN WIDTH ///////////////////////
////////////////////////////////////////

@media (min-width: 47em) {
  .about-creators {
    article {
      p {
        font-size: 0.8em;
      }
      .link-icons {
        margin-right: 0.5em;
        margin-top: 1ex;
        max-width: 35px;
        width: 35px;
      }
    }
  }
}  // END @media min-width 47
