//////////////////////////////////////////
// 32em MIN WIDTH ///////////////////////
////////////////////////////////////////

@media (min-width: 32em) {

   // Top Nav
  ////////////////////////////////////////

  .topnav__hamburger::before {
    font-size: 3.5em;
    top: -0.5ex;
  }

  .topnav__logo {
    width:14em;
  }

  .topnav__menu.active {
    border-top: 2px solid #fff;
    padding: 0 5% 1.7ex 0.5em;
    top: 4.5ex;
  }

   // Brew Page
  ////////////////////////////////////////

  .brewit-page {
    width: 32rem;
    margin: 0 calc((100% - 32rem) / 2);
  }

  .nav--brew-it {
    margin: 0 0;
  }

   // Recipe Detail Page
  ////////////////////////////////////////

  .recipe-detail {
    margin: 0 10%;
    width: 80%;

    .recipe-view {
      .col-1-3 {
        box-sizing: border-box;
        float: left;
        width: 100% * (1/3);
        &.brew-count {
          padding-top: 0.5ex;
          text-align: left;
        }
      }

      img.cup {
        width: 25px;
      }

      // See _recipe-detail.scss
      a.brew-it-button {
        margin-left: 100% * (1/4);
        width: 100% * (1/2);
      }

      a.no-steps {
        margin-left: 100% * (1/4);
        width: 100% * (1/2);
      }
    }
  }  // recipe-detail (top portion)

  .recipe-detail div.details {
    section.icons {
      float: right;
      width: 25%;
    }
  }

  section.edit-step-icons {
    clear:both;
    margin-left: 75%;
    width: 25%;

    img.edit-icon {
      float: right;
      width: 35px;
    }

    img.trash-icon {
      width: 30px;
    }
  }

  .step-list {
    div.step-details {
      p.step-details {
        width: 95%;
      }
    }
  }

   // Recipe List Page
  ////////////////////////////////////////

  nav.recipe-list {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  section.recipe-list {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

    .col-1-2 {
      width: 50%;

      .col-1-4 {
        width: 110%;

        span.count {
          font-size: 1em;
          margin-left: 2%;
          margin-top: 1ex;
          img {
            width: 20px;
          }
        }
      }

      a {
        margin-top: -2ex;
        width: 85%;

        &.recipe-title {
          display: block;
          max-width: 100%;
          width: 100%;
        }
      }
    }  // end col-1-2
  }  // end section.recipe-list

   // Login-Registration Pages
  ////////////////////////////////////////

  form.login {
    width:50%;
    margin: auto 25%;
  }

  form.register {
    width:50%;
    margin: auto 25%;
  }

  section.more-info > article {
    width: 100%*(9/10);
    margin-right: 100% *(1/20);
    margin-left: 100% *(1/20);
  }

   // About Creators Page
  ////////////////////////////////////////

  .about-creators {
    figure {
      box-sizing: border-box;
      display: block;
      float: left;
      margin-left:  0;
      margin-right: 0;
      margin-top: 1ex;
      max-width: 100px;
      width: 25%;

      img {
        width: 100%;
      }
    }

    div {
      box-sizing: border-box;
      display: block;
      float: left;
      padding-left: 5%;
      width: 75%;

      h4 {
        line-height: 0;
      }
    }

    .link-icons {
      margin-top: 1ex;
      max-width: 30px;
      width: 30px;
    }
  }

}  // END @media min-width 32


//////////////////////////////////////////
// 47em MIN WIDTH ///////////////////////
////////////////////////////////////////

@media (min-width: 47em) {
  nav.recipe-list {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  section.recipe-list {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;

    a {
      margin-left: 0;
      margin-right: 5%;
      max-width: 12em;
      padding-bottom: 1ex;
      padding-top: 1ex;
      padding: 2ex 0;
      width: 85%;

      &.list-brew-it {
        font-weight: bold;
      }

      &.recipe-title {
        display: block;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .recipe-detail {
    .recipe-view {
      .col-1-3 {
        box-sizing: border-box;
        float: left;
        width: 100% * (1/5);

        &.brew-count {
          padding-top: 0.5ex;
          text-align: left;
        }
      }
    }

    div.clone-button {
      margin-left: 15%;
      width: 25%;

      &:last-of-type {
        margin-right: 15%;
      }
    }
  }  // end recipe-detaiil view

  .about-creators {
    article {
      figure {
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left:  0;
        margin-right: 0;
        margin-top: 1ex;
        max-width: 100px;
        width: 25%;

        img {
          width: 100%;
        }
      }

      div {
        box-sizing: border-box;
        display: block;
        float: left;
        padding-left: 5%;
        width: 75%;

        h4 {
          line-height: 0;
        }

        p {
          font-size: 0.8em;
        }
      }

      .link-icons {
        margin-right: 0.5em;
        margin-top: 1ex;
        max-width: 35px;
        width: 35px;
      }
    }
  }
}  // END @media min-width 47
