 // More About the Team
//////////////////////////////////////////

.about-creators {
    margin: 2ex auto;
    width: 90%;
    max-width: 40em;

    article {
      @extend .clearfix;
      display: block;
      width: 100%;

    figure {
      box-sizing: border-box;
      display: block;
      float: left;
      margin-left:  0;
      margin-right: 0;
      margin-top: 1ex;
      max-width: 100px;
      width: 25%;

      img {
        width: 100%;
      }
    }

    div {
      box-sizing: border-box;
      display: block;
      float: left;
      padding-left: 5%;
      width: 75%;

      h4 {
        line-height: 0;
      }

      p {
        font-size: 0.7em;
        line-height: 2.2ex;
      }
    }
  }

  .link-icons {
    margin-top: -1ex;
    max-width: 20px;
    width: 20px;
  }
}

 // About
//////////////////////////////////////////

.more-info {
  margin: 2ex auto;
  width: 90%;
  max-width: 40em;

  &.register > label {
    font-weight: 400;
  }

  article {
    box-sizing: border-box;
    margin: 7ex auto -6.5ex;
  }

  article.keepers {
    @extend .clearfix;
    margin-top: -1rem;
    padding-bottom: 2ex;

    figure {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 1ex .75%;
      max-width: 150px;
      width: 23.5%;

      figcaption {
        text-align: center;
      }

      img {
        width: 100%;
      }
    }

    h1 {
      font-size: 2em;
      text-decoration: underline;

      &:hover {
        color: $BrewIt;
      }
    }
  }

  // TODO: Move to central location
  .gray-text {
    color: $heading;
  }

  .header-link {
    cursor: pointer;
  }

  article.links {
    padding-bottom: 2ex;

    a {
      text-decoration: underline;
    }

    a:hover {
      color: $BrewIt;
    }
  }

  // TODO: Move to central location
  .spacer {
    margin-bottom: 25em;
  }

  // TODO: Move to central location
  h2, h3 {
    display: block;
    color: $heading;
    line-height: 0;
    padding-top: 2ex;
    margin-bottom: 2ex;
  }

  input {
    box-sizing: border-box;
    display: block;
    margin-top: 2ex;
    max-width: 40em;
    width: 100%;
  }

  p {
    font-weight: 400;
    text-align: justify;
    margin-bottom: -1ex;
  }
}
